/* 
header { 
    
} */

* {
    border: 1px solid black; 
}


@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 5px;
}

html {
    background-color:whitesmoke;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    background-color: whitesmoke;
}

header {
    background-color: whitesmoke;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: skyblue;
}

h2 {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

nav {
    display: flex;
    justify-content: right;
    background-color: whitesmoke;
}

a {
    background-color: whitesmoke;
}

div {
    background-color: whitesmoke;
}

footer {
    background-color: plum;
}

img { 
    width: 200px;
    border-radius: 50%;
}

#Isabelle-photo1 {
    display: flex;
    align-items: center;
justify-content: center;
}


/*  */
#container1 {
    display: inline-flex;
    flex-wrap: wrap;
   align-items: space-around;
 
}


#contact {
    display: flex
}

nav a {
    display: inline;
}

/* FORM CSS */

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid white;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #FA4224;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #FFF;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #FA4224;
    background-color: #FA4224;
    color: #FFF;
}

.form-item button {
    width: 100px;
}
